.sitewidget-jumpNum .sitewidget-bd .num-box,.sitewidget-jumpNum .sitewidget-bd .unit-box{line-height:1.2em}
.sitewidget-jumpNum .jump-num-box{position:relative;text-align:center;display:inline-block}
.sitewidget-jumpNum .jump-num-box0{min-width:auto}
.sitewidget-jumpNum .num-box1,.sitewidget-jumpNum .unit-box1{display:block;float:left;vertical-align:middle}
.sitewidget-jumpNum .num-box1{padding:0 4px}
.sitewidget-jumpNum .unit-box1{box-sizing:border-box;padding:0 4px}