.mapBody{margin:0}
.sitewidget-googleMap .sitewidget-bd{line-height:0}
.gmap-default-box{height:400px;background:url(/static/t-ooBqBKsKrongksbm/assets/widget/images/googlemap/default-map-bg.jpg) no-repeat center center;position:relative}
.gmap-default-box .gmap-default-point{background:url(/static/t-oiBqBKlKrmgwnrbl/assets/widget/images/googlemap/point.png) no-repeat;position:absolute;width:32px;height:46px;background-size:contain;top:50%;left:50%;margin:-23px 0 0 -16px}